@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
$font-family: "Plus Jakarta Sans", sans-serif;
$fontSize: toRem(14); 
$mainColor: #000;
$link-active: #4737ff;
$link-unactive: #9a9ea6;
$heading: #181e4b;
$desc: #5e6282;
$primary: #4475f2;
$placeholder: #9c9c9c;
$border: #dedede;

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding-top: 44px;
    padding-bottom: 45px;
    background-color: #FFFFFF;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link{
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        font-family: 'Montserrat';
        text-decoration: none;
        color: #363838E6;
    }

    &__item{
        display: flex;
        gap: 79px;
        margin-left: 32px;
    }

    &__item-second{
        display: flex;
        gap: 81px;
    }
}

.furniture{
    margin-bottom: 104px;

    &--about{
        margin-bottom: 72px;
    }

    &__top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
    }

    &__title{
        color: #363838;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 51px;

        &::after{
            content: '';
            display: block;
            background: #6D7278;
            width: 252px;
            height: 1px;
            margin: 25px auto;
        }
    }

    &__text{
        color: #5A5A5A;
    	text-align: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        max-width: 730px;
        margin: 0 auto;
    }

    &__inner{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__item{
        width: 20%;
        padding: 0 31px;
        padding-bottom: 20px;

        &:hover .furniture__content{
            opacity: 0.6;
        }
    }

    &__img{
        display: block;
        max-width: 100%;
        height: 331px;
        width: 248px;
    }

    &__body{
        position: relative;
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFF;
        flex-direction: column;
        opacity: 0;
        transition: all .3s linear;
    }

    &__name{
        color: #363838;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 700;

        &::after{
            content: '';
            display: block;
            width: 200px;
            background-color: #6D7278;
            margin: 19px auto;
            height: 1px;
            
        }
    }

    &__descr{
        color: #707070;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
    }

}

.video{
    
    &__title{
        font-size: 30px;
        color: #181e4b;
        text-align: center;
        margin-bottom: 20px;
    }
}

.footer{

    &__top{
        background-color: #DFDFDF;
        padding-top: 61px;
        padding-bottom: 87px;
    }

    &__inner{
        display: flex;
        flex-wrap: wrap;
    }

    &__form{
        width: 56.75%;
    }

    &__title{
        color: #363838;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 14px;
    }

    &__text{
        color: #5A5A5A;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        max-width: 476px;
        margin-bottom: 16px;
    }

    &__email{
        display: inline-block;
        margin-bottom: 23px;
        text-decoration: none;
        color: #363838;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        position: relative;

    }

    &__buttom{
        color: #FFFFF0;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        background-color: #363838;
        border-radius: 21px;
        display: inline-block;
        text-decoration: none;
        padding: 6px 12px;
        width: 160px;
        margin-left: 21px;
    }

    &__input{
        border-radius: 21px;
        border: 1px solid #383636;
        opacity: 0.7;
        color: #A1A1A1;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; 
        width: 368px;
        background-color: #DFDFDF;
        padding: 6px 18px;
    }

    &__sohial-link{
        display: inline-block;
        text-decoration: none;
        color: #707070;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 15px;

    }

    &__sohial{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 25.58%;
    }

    &__show{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 17.29%;
    }

    &__show-link{
        display: inline-block;
        text-decoration: none;
        color: #707070;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 15px;
    }

    &__bottom{
        background-color: #363838;
        padding: 42px 0;
    }

    &__inner-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__text-bottom{
        color: #A1A1A1;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}